Flask==3.1.3
gunicorn==24.1.1
psycopg2==2.9.12
Werkzeug==3.1.8
flask-cors==4.0.2
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
PyJWT==2.13.0
email-validator==2.3.0
APScheduler==3.11.3
python-dateutil==2.9.0.post0
Authlib==1.8.0
requests==2.34.2
gevent==24.11.1
setuptools==82.0.1
apprise==1.13.1
Flask-Babel==4.0.0
Babel==2.18.0
